{
    "extends": [
        "eslint:recommended"
    ],
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "classes": true,
            "defaultParams": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "commonjs": true,
        "node": true,
        "jquery": true,
        "mocha": true
    },
    "rules": {
        "jsx-quotes": [
            "error",
            "prefer-double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "no-console": 1,
        "no-var": 1,
        "no-unused-vars": 0,
        "eqeqeq": [
            "error",
            "allow-null"
        ],
        "comma-dangle": 0
    }
}