{
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true
    },
    "globals": {
        "__DEV__": false,
        "__PROD__": false,
        "__TEST__": false
    },
    "rules": {
        "jsx-quotes": [
            2,
            "prefer-single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "no-console": 1,
        "no-var": 1,
        "no-unused-vars": 0,
        "eqeqeq": [
            "error",
            "allow-null"
        ]
    }
}