# Icon must end with two \r
Icon

# Thumbnails
._*

# IDE
.vscode

# Typings
typings*
jsconfig.*

# Build
dist/bundle.*

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules