* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

h1 {
    font-weight: 200;
    color: #3b414c;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.08) inset;
}

.container {
    width: 1000px;
    margin: 0 auto;
    max-width: 90%;
}

.clearfix::before, .clearfix::after, .columns::before, .columns::after {
    display: table;
    content: "";
}

.clearfix::after, .columns::after {
    clear: both;
}

a:link, a:visited {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a:link.active {
    text-decoration: underline;
}

.header .logo {
    float: left;
    margin-right: 10px;
    margin-left: -2px;
    color: #333;
    white-space: nowrap;
}

.header .logo .octicon {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentColor;
}

.header .logo .octicon-mark-x {
    float: left;
    font-size: 28px;
}

svg:not(:root) {
    overflow: hidden;
}

.header-nav {
    list-style: none;
}

.header-nav-item {
    float: left;
}

.header-nav-link {
    display: block;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}

.header-nav-link:hover, .header-nav-link:focus {
    color: #4078c0;
    text-decoration: none;
}

.left, .float-left {
    float: left !important;
}

.page-content {
    padding-top: 20px;
}

.page-content .container {
    padding: 0 10px;
}

.title {
    font-weight: 600;
}

.description {
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #767676;
}

.columns {
    margin-right: -10px;
    margin-left: -10px;
}

.column {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.one-fourth {
    width: 25%;
}